# SPDX-FileCopyrightText: 2023 Benedikt Bastin
#
# SPDX-License-Identifier: CC0-1.0

[Unit]
Description=DynDNS server
After=syslog.target
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/srv/dyndns
ExecStart=/srv/dyndns/dyndns

[Install]
WantedBy=multi-user.target
